//brand colors------------------------------------------//

$brand-blue: #88CBDF;
$brand-blue-medium: #0096D6;

//dashboard colors------------------------------------------//

$blue: #00338D;
$red: #D52B1E;
$red-hover: #A61207;
$yellow: #FFC425;
$yellow-h: #F2B719;
$blue-light: #1778D3;
$blue-light-h: #2685DE;
$green: #00844D;
$orange: #CF4900;

$black: #222222;
$grey-1:#333333;
$grey-2:#5F6062;
$grey-3:#767676;
$grey-4:#CCCCCC;
$grey-5:#EBEBEB;
$grey-6: #F8F9FB;
$white: #FEFEFE;

// transparent

$transparent-grey: rgba(153, 153, 153, .3);

$primary-color: #2199E8;
$secondary-color: #777777;

$login-blue-transparent: rgba(0, 51, 141, .9);
$white-transparent: rgba(255, 255, 255, .9);